html, body {
	height: 100%;
	width: 100%;
}

#listColumn {
	height: 100%;
}

#list {
	height: calc(50% - 30px);
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
	overflow: auto;
	background-color: aqua;
}