html, body {
	height: 100%;
	width: 100%;
}

.container2 {
	width: 100%;
	height: auto;
	background-color: #000000;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

#listColumn {
	height: 100%;
	color: white;
}

#listColumn > h3 {
	text-align: center;
}

#list {
	height: 300px;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
	overflow: scroll;
	background-color: aqua;
}

#kda > p {
	display: inline;
}

.gameMatch {
    padding: 5px;
    margin: 10px;
    width: 100%;
}

.gameMatchImages {
	margin-top: 5px;
	display: inline-block;
	height: auto;
} 

.gameMatchImages > img {
	height: 50px;
	width: auto;
}

#gameChamp {
	height: auto;
	width: 100%;
}


